@import url(https://fonts.googleapis.com/css?family=Google+Sans+Flex:100,200,300,regular,500,600,700,800,900);


@import "tailwindcss";

body {
  font-family: 'Google Sans Flex', sans-serif;
  width: 100%;
  height: 100%;
  background: #000;;
}

